:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #ffc6ec;
  background: radial-gradient(at center, #ffc6ec, #fc208880);
  background-repeat: no-repeat;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
}

button {
  margin-top: 30px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d30000;
  color: #fff;
  cursor: pointer;
  animation: pulse 1s infinite;
}
button:hover {
  background-color: #b80f0a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
